# FORMAT :
#   KEY=VALUE1 # COMMENT HERE

# --- FTP VARIABLE ---
FTP_PASSWORD=password # Is the password of the ftp user

# --- MARIADB VARIABLE ---
MARIADB_USERNAME=wordpress # Is the name of the default user
MARIADB_PASSWORD=wordpress # Is the password of the default user
MARIADB_ROOT_PASSWORD=password # Is the password of the root user

# --- WORDPRESS VARIABLE ---
WORDPRESS_AUTH_PASSWORD=password # The password
WORDPRESS_SALT_PASSWORD=password # The password

# --- KUMA VARIABLE ---
KUMA_DB_USER=kuma # Is the name of the default user
KUMA_DB_PASSWD=kuma # Is the password of the default user
