# FORMAT :
#   KEY=VALUE1 # COMMENT HERE

# --- FTP VARIABLE ---
FTP_PASSWORD=PASSWORD_HERE # Is the password of the ftp user

# --- MARIADB VARIABLE ---
MARIADB_USERNAME=USERNAME_HERE # Is the name of the default user
MARIADB_PASSWORD=PASSWORD_HERE # Is the password of the default user
MARIADB_ROOT_PASSWORD=PASSWORD_HERE # Is the password of the root user

# --- WORDPRESS VARIABLE ---
WORDPRESS_AUTH_PASSWORD=PASSWORD_HERE # The password
WORDPRESS_SALT_PASSWORD=PASSWORD_HERE # The password

# --- KUMA VARIABLE ---
MARIADB_USERNAME=USERNAME_HERE # Is the name of the default user
MARIADB_PASSWORD=PASSWORD_HERE # Is the password of the default user
MARIADB_ROOT_PASSWORD=PASSWORD_HERE # Is the password of the root user
